@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Flamenco:wght@300&display=swap');

body{
    font-family: 'Flamenco';
    background-color: gainsboro;
}

h2{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.markTardy{
    border-style: solid;
    border-radius: 10%;
    border-color: black;
    border-width: 1px;
    font-family: inherit;
}

.reasoning{
    width: 50px;
    border-color: black;
    border-width: 1px;
}


h1{
    margin: auto;
    text-align: center;
    width: 40%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}



h3{
    text-decoration: underline;
    vertical-align: top;
    float:right;
    width: 20%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2%;
    
    /* get it to be in top right corner*/
}