@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Flamenco:wght@300&display=swap');

body{
    font-family: 'Flamenco';
    background-color: gainsboro;
}


.BeONTIME App{
    text-align: center;
}

h1{
    border-color: black;
    border-width: 2px;
}

.timer{
    border-color: black;
    border-width: 2px;
    border-radius: 5%;
}